@charset "uft-8";
.event .section-top{
    padding: 20px 0;
}
.events-img {
    position: relative;
    width: 100%;
    height: 335px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.1);
  }